<!DOCTYPE html>
<html>
<head>
    <title>P치gina EJS Adicional</title>
</head>
<body>
    <h1>Bienvenido a la P치gina EJS Adicional</h1>
    <p>Esta es una p치gina EJS de ejemplo con m치s datos.</p>
    <ul>
        <li>Nombre: <%= nombre %></li>
        <li>Edad: <%= edad %></li>
        <li>Ciudad: <%= ciudad %></li>
    </ul>
</body>
</html>
