doctype html
html
  head
    title P치gina Pug Adicional
  body
    h1 Bienvenido a la P치gina Pug Adicional
    p Esta es una p치gina Pug de ejemplo con m치s datos.
    ul
      li Nombre: #{nombre}
      li Edad: #{edad}
      li Ciudad: #{ciudad}
