<!DOCTYPE html>
<html>
<head>
  <title>Perfil de <%= user.nombre %></title>
</head>
<body>
  <h1>Perfil de <%= user.nombre %></h1>
  <p>ID del usuario: <%= user.id %></p> <!-- Mostramos el ID aquí -->
</body>
</html>
